<div class="loader" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
<div class="container">
  <div class="text-center p-4">
    <h2>EIM Solutions</h2>
  </div>
  <table class="table table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col" *ngFor="let heading of headers">
          {{ heading }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datum of data">
        <td>
          {{ datum.Image.text }}
        </td>
        <td>{{ datum.Vendor.text }}</td>
        <td>{{ datum.Contact.text }}</td>
        <td>{{ datum.Status.text }}</td>
        <td>{{ datum.Created.text | date }}</td>
        <td>{{ datum.Approver.text }}</td>
        <td>
          {{ datum.Completion.completed }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
